.utama {
	background: #33ccff;
	margin: 10px auto;
}
 
/*bagian header*/
.utama .header{
	background: #6699ff;
	/*height: 50px;*/
	padding: 2px 10px;
	font-family: comic sans ms;
	text-align: center;
}
 
/*akhir header*/
 
/*bagian menu*/
.utama .menu{
	background: #DDFFFF;
}
 
.utama .menu ul{
	padding: 0;
	margin: 0;
	background: #33ffff;
	overflow: hidden;
	font-family: papyrus;
	font-weight: bold;
}
 
.utama .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.utama .badan .sidebar{
	background: #Ccccff;
	float: left;	
	width: 25%;
	height: 100%;
	font-family: verdana;
}
 
/*akhir sidebar*/
 
.utama .badan .content{
	background: #ooccff;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.utama .footer{
	width: 100%;
	padding: 10px;
	font-style: arial;
	font-family: MV Boli;
	text-align: center;
	background: #6699ff;
}